<div class="jumbotron jumbotron-landing ">
  <h1 class="display-4">О нас</h1>
  <p class="lead">В дальнейшем рассматриваем загрузку фотографий на сервер разные пути реализации данного проекта</p>


</div>


	