<div class="jumbotron jumbotron-landing ">
  <h1 class="display-4">Мир начинается с тебя!</h1>
  <p class="lead">Мир начинается с тебя. Мне кажется, это самый сложный урок, который приходится проходить всем нам на Земле.Осознать, что все вокруг отражение нашего внутреннего мира, отражение наших внутренних миров.</p>
  <hr class="my-4">
  <p>Мир начинается с тебя. Мне кажется, это самый сложный урок, который приходится проходить всем нам на Земле. 
  <p>Осознать, что все вокруг отражение нашего внутреннего мира, отражение наших внутренних миров.
</p>
  <p class="lead">
    <a class="btn btn-success " href="#" role="button">Go Harvest</a>
    <a class="btn btn-success " href="#" role="button">Войти</a>
  </p>
</div>


	





